.navClass {

    background-color:beige;
    padding: 1vh ;
    
  }
  
  .navClass ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  .navClass ul li {
    float :left;
    padding: 3vh;
    background-color: aquamarine;
    margin-right: 10px;
  }
  
  .navClass ul li a {
    text-decoration: none;
    background-color: blueviolet;
    padding: 2vh;
    color: white;
    display: block;
  }
  
  .navClass ul li a:hover {
    background-color: chartreuse;
    color: black;
  }
  